* { 
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
    height: 100vh;
	width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}
h1 {
	margin-bottom: 10px;
}
#app {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 10%;
    overflow: hidden;
    overflow-wrap: break-word;
	height: 100%;
	width: 100%;
}
header {
	grid-row:1;
	background-color:cornflowerblue;
	text-align:center;
}
.navLink {
	margin:5px;
}
main {
	grid-row:2;
	padding:10px;
	overflow-y:auto;
}
section {
	margin:10px 0;
}
#logReg {
	border: 1px solid black;
	padding:10px;
}
.routineList {
	margin-top:10px;
}
.routine {
	border:1px solid black;
	margin:10px 0;
	padding:10px
}
.routineListActivity {
	margin-left:20px;
	margin-top:10px;
}
label {
	font-weight:bold;
	margin-bottom:5px;
}

#selectedActivities, .newInputLine {
	width: 90%;
	max-width: 500px;
	padding:3px;
}
.profileDivs {
	margin:10px 0;
}
.activity {
	border:1px solid black;
	margin:10px 0;
	padding:10px
}
footer {
	grid-row:3;
	background-color:cornflowerblue;
	text-align:center;
}

.usernameValue {
	color: blue;
}