* { 
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
    height: 100vh;
	width:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}
h1 {
	margin-bottom: 10px;
}
button, .navLink {
	background-color:white;
	margin: 0 5px;
	padding:5px;
	border:1px solid gray;
	border-radius: 5px;
	text-decoration:none;
}
button:active, .navLink:active {
	border-width: 2px;
}
#app {
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 1fr 10%;
    overflow: hidden;
    overflow-wrap: break-word;
	height: 100%;
	width: 100%;
}
header {
	grid-row:1;
	background-color:cornflowerblue;
	text-align:center;
}

main {
	grid-row:2;
	padding:10px;
	overflow-y:auto;
}
section {
	margin:10px 0;
}
#logReg {
	border: 1px solid black;
	padding:10px;
}
.routineList {
	margin-top:10px;
}
.routine, .activity, .profileRoutine {
	border:1px solid black;
	margin:10px 0;
	padding:10px
}
.routineListActivity {
	margin-left:20px;
	margin-top:10px;
}
label {
	font-weight:bold;
	margin-bottom:5px;
}
#selectedActivities, .newInputLine {
	width: 90%;
	max-width: 500px;
	padding:3px;
}
.profileDivs {
	margin:10px 0;
}
.publicRoutine, .privateRoutine {
	padding:5px;
	width:60px;
	text-align: center;
}
.publicRoutine {
	background-color:green;
}
.privateRoutine {
	background-color:red;
}
footer {
	grid-row:3;
	background-color:cornflowerblue;
	text-align:center;
}

.usernameValue {
	color: blue;
}